// Body
$body-bg: #6b757d;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Navbar
$nav-link-font-size: 1.4rem;
$navbar-nav-link-padding-x: 0.7rem;

// Form
$input-bg: #fff;
$input-focus-bg: rgb(240, 240, 240);

// Colors
$text-muted: #b6babe;